html {
    box-sizing: border-box;
}

body {
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    padding: 5px;
}

.container {
    background-color: gray;
    color: blue;
    padding: 5px;
    border: 5px solid black;
}

h2 {
    text-align: center;
}